<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.philliphsu.clock2"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.philliphsu.clock2.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.philliphsu.clock2.ringtone.RingtoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ringtone"
            android:theme="@style/FullscreenTheme">
        </activity>

        <service
            android:name="com.philliphsu.clock2.ringtone.RingtoneService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>