<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.philliphsu.clock2"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".alarms.background.UpcomingAlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.philliphsu.clock2.MainActivity"/>
        </activity>

        <receiver
            android:name=".alarms.background.PendingAlarmScheduler"
            android:enabled="true"
            android:exported="false">
        </receiver>
        <receiver
            android:name=".alarms.background.OnBootUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".alarms.background.OnBootUpAlarmScheduler"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".edittimer.EditTimerActivity"
            android:label="@string/title_activity_create_timer"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.philliphsu.clock2.MainActivity"/>
        </activity>

        <service
            android:name=".timers.TimerNotificationService"
            android:exported="false">
        </service>

        <activity
            android:name=".timers.TimesUpActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_ringtone"
            android:launchMode="singleTask"
            android:taskAffinity="com.philliphsu.clock2.RingtoneActivity">
        </activity>
        <activity
            android:name=".ringtone.AlarmActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_ringtone"
            android:launchMode="singleTask"
            android:taskAffinity="com.philliphsu.clock2.RingtoneActivity">
        </activity>

        <service
            android:name=".ringtone.AlarmRingtoneService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".timers.TimerRingtoneService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".stopwatch.StopwatchNotificationService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>